<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container text-center">
        <div>
            <h1>User Registration - Sign Up</h1>
        </div>
       <form th:action="@{/process_register}" th:object="${user}" method="post"
            style="max-width: 600px; margin: 0 auto" >

        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Username: </label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{admin_Name}" required minlength="2" maxlength="20" />
                </div>
            </div>
        </div>
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{admin_password}" class="form-control" required minlength="6" maxlength="12" />
                </div>
            </div>
        </div>
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Email: </label>
                <div class="col-8">
                    <input type="email" th:field="*{contact}" class="form-control" required minlength="10" maxlength="45" />
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>


       </form>
    </div>
</body>
</html>